In [1]:
import pandas as pd
import numpy as np

### Split the large file into smaller ones
- The number of rows is too large to be loaded into csv files
- There will be encoding issues if directly read from txt files

In [5]:
with open("tamo2021.txt",'r') as file:
    lines = file.readlines()

with open("tamo2021_A.txt",'w') as file:
    for line in lines[:int(len(lines)/2)]:
        file.write(line)

with open("tamo2021_B.txt",'w') as file:
    for line in lines[int(len(lines)/2):]:
        file.write(line)

### Manually load txt data into excel files and save as csv files

### Load the data
- The staff data at different granularity levels: school, school district, county, state

In [15]:
df_staff_a = pd.read_csv('tamo2021_A.csv', low_memory=False)
df_staff_a.head()

,Academic Year,Aggregate Level,County Code,District Code,School Code,County Name,District Name,School Name,Charter School,DASS,...,Incomplete FTE (count),Unknown FTE (count),N/A FTE (count),Clear FTE (percent),Out-of-Field FTE (percent),Intern FTE (percent),Ineffective FTE (percent),Incomplete FTE (percent),Unknown FTE FTE (percent),N/A FTE (percent)
0,2020-21,T,0,NaN,NaN,State,NaN,NaN,All,All,...,2.79,0.0,0.08,63.4,22.2,0.0,4.7,9.5,0.0,0.3
1,2020-21,T,0,NaN,NaN,State,NaN,NaN,All,All,...,0.00,0.0,0.00,0.0,24.6,0.0,75.4,0.0,0.0,0.0
2,2020-21,T,0,NaN,NaN,State,NaN,NaN,All,All,...,2.79,0.0,0.08,64.6,22.1,0.0,3.3,9.7,0.0,0.3
3,2020-21,T,0,NaN,NaN,State,NaN,NaN,All,All,...,0.20,0.0,0.00,74.5,4.0,0.0,17.7,3.8,0.0,0.0
4,2020-21,T,0,NaN,NaN,State,NaN,NaN,All,All,...,0.00,0.0,0.00,0.0,24.6,0.0,75.4,0.0,0.0,0.0

In [16]:
df_staff_b = pd.read_csv('tamo2021_B.csv', low_memory=False)
df_staff_b.head()

,Academic Year,Aggregate Level,County Code,District Code,School Code,County Name,District Name,School Name,Charter School,DASS,...,Incomplete FTE (count),Unknown FTE (count),N/A FTE (count),Clear FTE (percent),Out-of-Field FTE (percent),Intern FTE (percent),Ineffective FTE (percent),Incomplete FTE (percent),Unknown FTE FTE (percent),N/A FTE (percent)
0,2020-21,D,31,75085.0,NaN,Placer,Rocklin Unified,NaN,All,All,...,0.0,0,0,100.0,0.0,0.0,0.0,0.0,0,0
1,2020-21,D,31,75085.0,NaN,Placer,Rocklin Unified,NaN,All,All,...,0.0,0,0,100.0,0.0,0.0,0.0,0.0,0,0
2,2020-21,D,31,75085.0,NaN,Placer,Rocklin Unified,NaN,All,All,...,0.0,0,0,100.0,0.0,0.0,0.0,0.0,0,0
3,2020-21,D,31,75085.0,NaN,Placer,Rocklin Unified,NaN,All,All,...,0.0,0,0,100.0,0.0,0.0,0.0,0.0,0,0
4,2020-21,D,31,75085.0,NaN,Placer,Rocklin Unified,NaN,All,All,...,0.0,0,0,100.0,0.0,0.0,0.0,0.0,0,0

### Withdraw the teaching assignment outcome with filters
- Aggregate Level = S. School level data
- School Grade Span = GR912. Grade 9â€“12 public high schools
- Teacher Experience Level = All. All the teachers
- Teacher Credential Level = All. All the teachers
- Subject Area = MATH, SCIE, ENLA, HISS. Most important school subjects I believe. MATH = Mathematics, SCIE = Science, ENLA = English Language Arts, HISS = History/Social Science

In [22]:
df_staff_a_filtered = df_staff_a[(df_staff_a['Aggregate Level'] == 'S') & (df_staff_a['School Grade Span'] == 'GR912')
                                & (df_staff_a['Teacher Experience Level'] == 'ALL') & (df_staff_a['Teacher Credential Level'] == 'ALL')]
df_staff_b_filtered = df_staff_b[(df_staff_b['Aggregate Level'] == 'S') & (df_staff_b['School Grade Span'] == 'GR912')
                                & (df_staff_b['Teacher Experience Level'] == 'ALL') & (df_staff_b['Teacher Credential Level'] == 'ALL')]

In [26]:
df_staff_a_filtered

,Academic Year,Aggregate Level,County Code,District Code,School Code,County Name,District Name,School Name,Charter School,DASS,...,Incomplete FTE (count),Unknown FTE (count),N/A FTE (count),Clear FTE (percent),Out-of-Field FTE (percent),Intern FTE (percent),Ineffective FTE (percent),Incomplete FTE (percent),Unknown FTE FTE (percent),N/A FTE (percent)
43046,2020-21,S,1,10017.0,136226.0,Alameda,Alameda County Office of Education,Opportunity Academy,Yes,Yes,...,0.00,0.0,0.0,17.2,82.8,0.0,0.0,0.0,0.0,0.0
43053,2020-21,S,1,10017.0,136226.0,Alameda,Alameda County Office of Education,Opportunity Academy,Yes,Yes,...,0.00,0.0,0.0,79.3,20.7,0.0,0.0,0.0,0.0,0.0
43054,2020-21,S,1,10017.0,136226.0,Alameda,Alameda County Office of Education,Opportunity Academy,Yes,Yes,...,0.00,0.0,0.0,23.3,77.7,0.0,0.0,0.0,0.0,0.0
43061,2020-21,S,1,10017.0,136226.0,Alameda,Alameda County Office of Education,Opportunity Academy,Yes,Yes,...,0.00,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0
43062,2020-21,S,1,10017.0,136226.0,Alameda,Alameda County Office of Education,Opportunity Academy,Yes,Yes,...,0.00,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703238,2020-21,S,30,73643.0,3037553.0,Orange,Tustin Unified,Tustin High,No,No,...,0.00,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0
703245,2020-21,S,30,73643.0,3037553.0,Orange,Tustin Unified,Tustin High,No,No,...,0.00,0.0,0.0,95.4,0.0,0.0,4.6,0.0,0.0,0.0
703246,2020-21,S,30,73643.0,3037553.0,Orange,Tustin Unified,Tustin High,No,No,...,0.27,0.0,0.0,22.7,0.0,0.0,72.4,5.1,0.0,0.0
703253,2020-21,S,30,73643.0,3037553.0,Orange,Tustin Unified,Tustin High,No,No,...,0.65,0.0,0.0,91.7,0.0,0.0,3.1,5.1,0.0,0.0
703258,2020-21,S,30,73643.0,3037553.0,Orange,Tustin Unified,Tustin High,No,No,...,6.00,0.0,0.0,84.6,0.0,0.0,8.5,6.9,0.0,0.0

In [23]:
df_staff_b_filtered.head()

,Academic Year,Aggregate Level,County Code,District Code,School Code,County Name,District Name,School Name,Charter School,DASS,...,Incomplete FTE (count),Unknown FTE (count),N/A FTE (count),Clear FTE (percent),Out-of-Field FTE (percent),Intern FTE (percent),Ineffective FTE (percent),Incomplete FTE (percent),Unknown FTE FTE (percent),N/A FTE (percent)
7764,2020-21,S,31,66894.0,3131851.0,Placer,Placer Union High,Colfax High,No,No,...,0.0,0,0,100.0,0.0,0.0,0.0,0.0,0,0
7771,2020-21,S,31,66894.0,3131851.0,Placer,Placer Union High,Colfax High,No,No,...,0.0,0,0,100.0,0.0,0.0,0.0,0.0,0,0
7772,2020-21,S,31,66894.0,3131851.0,Placer,Placer Union High,Colfax High,No,No,...,0.0,0,0,0.0,100.0,0.0,0.0,0.0,0,0
7779,2020-21,S,31,66894.0,3131851.0,Placer,Placer Union High,Colfax High,No,No,...,0.0,0,0,89.8,10.2,0.0,0.0,0.0,0,0
7780,2020-21,S,31,66894.0,3131851.0,Placer,Placer Union High,Colfax High,No,No,...,0.0,0,0,98.4,0.0,0.0,0.0,0.0,0,2

In [ ]:
df_staff_a_filtered.to_csv('tamo2021_A_filtered.csv', encoding='utf-8', index=False)
df_staff_b_filtered.to_csv('tamo2021_B_filtered.csv', encoding='utf-8', index=False)

In [27]:
# Combine the two sets of data
combined = pd.concat([df_staff_a_filtered, df_staff_b_filtered])
combined.to_csv('tamo2021_school_level.csv', encoding='utf-8', index=False)

### The important features include
- Total FTE (count). FTE: Full-Time Equivalent
- Clear FTE (count). Where the assignment monitoring outcome is clear
- Out-of-Field FTE (count). Where the assignment monitoring outcome is out-of-field
- Intern FTE (count). Where the assignment monitoring outcome is intern
- Ineffective FTE (count). Where the assignment monitoring outcome is ineffective
- Incomplete FTE (count). Where the assignment monitoring outcome is incomplete
- Unknown FTE (count). Where the assignment monitoring outcome is unknown
- N/A FTE (count). Where the assignment monitoring outcome is N/A
#### Notes: there are also percentage data like Clear FTE (percent), Clear FTE (count) divided by the Total FTE (count)